.mainNav {
    top: 0;
    width: 100%;
    height: 80px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #9197ae;
    text-transform: uppercase;
    padding: 0 40px;
  }
  .selfumelogo{
    opacity: 58%;
      width: 8vw;
  }
  .mainNav__logo {
      
      margin-top: 12vh;
      width: 20vw;
  }
  .mainNav_logotxt{
      font-weight: 800;
      letter-spacing: 1px;
      font-size: 30px;
      font-family: "Raleway", sans-serif;
  }
  .mainNav__links {
    display: flex;
  }
  
  .mainNav__link {
    letter-spacing: 1px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    margin-left: 20px;
    font-weight: 900;
    box-shadow: inset 0px -10px 0px rgba(255, 255, 255, 0.5);
    transition: all 0.4s ease, transform 0.2s ease;
    padding: 2px 4px;
    transform: translateY(0px);
  }
  .mainNav__link:hover {
    transform: translateY(-5px);
    box-shadow: inset 0px -20px 0px white;
  }
  .mainNav__icon {
    background-image: url(https://rafaelalucas91.github.io/assets/icons/black/icon-141.svg);
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
  }
  